
<div class=box>
  <h3>Stupid question to answer: </h3>
  <h4><%= @question %></h4>

  <h3>Answer:</h3>
  <h4 class="answer"> <%= @answer %> </h4>

  <%= link_to "ask another question", ask_path, class: "button" %>
</div>
